body{
    margin:0px;
    background-color:#000323;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    color:#00ffff;
}

p{
    margin-top:10px;
    font-family: Arial, 'Times New Roman', sans-serif;
    color:#00ffff;
}

a{
    font-family: Arial, 'Times New Roman', sans-serif;
    color:#00817d;
}

h1{
    margin:0px;
    font-family: Arial, 'Times New Roman', sans-serif;
    color:#00ffff;
    text-shadow:2px, 2px, 4px, grey;
    
}

h2{
    margin:0px;
    font-family: Arial, 'Times New Roman', sans-serif;
    color:#00ffff;
}

h3{
    margin:0px;
    font-family: Arial, 'Times New Roman', sans-serif;
    color:#00ffff;
}

h4{
    margin:10px;
    font-family: Arial, 'Times New Roman', sans-serif;
    color:#00ffff;
    text-decoration:underline;
}

.resumeSection{
    margin-top:20px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:20px;
}

.certificateSection{
    margin-top:20px;
    background-color:#080e52;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:20px;
}

.certificateImages{
    display:flex;
    justify-content:center;
    gap:20px;
}

.certificateImage{
    height:450px;
    width:700px;
    object-fit:cover;
}

.contactSection{
    margin-top:20px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.contactIcon{
    display:flex;
    justify-content: space-between;
    transition-duration:0.1s;
    width:30px;
    display:flex;
    filter:white;
}

.contactIcon:hover{
    transition-duration:0.1s;
    width:35px;
    filter:white;
}

@media only screen and (max-width: 600px){
    body{
        padding:10px;
        margin:0px;
    }


.certificateImages{
    flex-direction:column;
    gap:10px;
}

.certificateImage{
    width:100%;
    height:auto;
}

h1, h2, h3, h4, p{
    font-size:1.1em;
    margin: 5px 0;
}

.contactSection{
    flex-direction:row;
    gap:10px;
    justify-content:center;
}

.contactIcon{
    width:35px;
}

header, section, footer{
    text-align:center;
}

}