body{
    margin:0px;
    background-color:#00094d;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    color:#00ffff;
}

p{
    margin:0px;
    font-family: Arial, 'Times New Roman', sans-serif;
    color:#00ffff;
}

a{
    font-family: Arial, 'Times New Roman', sans-serif;
    color:#00817d;
}

h1{
    margin:0px;
    display:flex
    text-align:center;
    font-family: Arial, 'Times New Roman', sans-serif;
    color:#00ffff;
    text-shadow:2px, 2px, 4px, grey;
}

h2{
    margin:0px;
    text-align:center;
    font-family: Arial, 'Times New Roman', sans-serif;
    color:#00ffff;
}

h3{
    margin:0px;
    text-align:center;
    font-family: Arial, 'Times New Roman', sans-serif;
    color:#00ffff;
}

.resumeSection{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:50px;
}

.certificateImage{
    align-items:center;
    height:450px;
    width:800px;
}

.contactSection{
    display:flex;
    justify-content:center;
    align-items:center;
}

.contactIcon{
    display:flex;
    justify-content: space-between;
    transition-duration:0.1s;
    width:30px;
    display:flex;
    filter:white;
}

.contactIcon:hover{
    transition-duration:0.1s;
    width:35px;
    filter:white;
}